:root {
    /* Colors */
    --primary-gradient: linear-gradient( to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    --DarkBlue: hsl(233, 26%, 24%);
    --LimeGreen: hsl(136, 65%, 51%);
    --BrightCyan: hsl(192, 70%, 51%);
    --GrayishBlue: hsl(233, 8%, 62%);
    --LightGrayishBlue: hsl(220, 16%, 96%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
    /* Typography */
    --main-font: 'Public Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    padding: 20px;
    grid-gap: 47%;
}

.hamburger {
    margin-top: 0.4em;
}

.btn-ri-h,
nav {
    display: none;
}

button {
    padding: 15px 32px;
    border-radius: 50px;
    border: none;
    font-weight: 700;
    color: white;
    background: var(--primary-gradient);
    /* background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%)); */
}

.intro {
    overflow: hidden;
    display: grid;
    grid-gap: 100px;
}

.hero-img {
    background-image: url('../images/bg-intro-mobile.svg');
    background-position: 10% -22%;
    background-size: 120% 100%;
    background-repeat: no-repeat;
    height: 315px;
    padding: 20px;
}

.mockups img {
    width: 100%;
    transform: translateY(-138px);
}

.hero {
    padding-bottom: 90px;
    text-align: center;
}

.hero div:first-child {
    font-size: 40px;
    color: var(--DarkBlue);
    /* color: hsl(233, 26%, 24%); */
    margin-bottom: 20px;
}

.hero div:nth-child(2) {
    margin-bottom: 20px;
    color: var(--GrayishBlue);
    /* color: hsl(233, 8%, 62%); */
    line-height: 25px;
}

.why {
    padding: 20px;
    background-color: var(--LightGrayishBlue);
    /* background-color: hsl(220, 16%, 96%); */
    padding-top: 70px;
}

br {
    display: none;
}

.why>div:first-child {
    font-size: 32px;
    color: var(--DarkBlue);
    /* color: hsl(233, 26%, 24%); */
    margin-bottom: 20px;
}

.why>div:nth-child(2) {
    margin-bottom: 60px;
    color: var(--GrayishBlue);
    /* color: hsl(233, 8%, 62%); */
    line-height: 25px;
}

.services {
    display: grid;
    gap: 20px;
    padding-bottom: 30px;
}

.why>div:first-child,
.why>div:nth-child(2),
.service,
.articles>div:first-child {
    text-align: center;
}

.service img {
    margin-bottom: 30px;
}

.service>div:nth-child(2) {
    color: var(--DarkBlue);
    /* color: hsl(233, 26%, 24%); */
    margin-bottom: 30px;
    font-size: 24px;
}

.why div:nth-child(3) {
    color: var(--GrayishBlue);
    /* color: hsl(233, 8%, 62%); */
    line-height: 25px;
}

.latest {
    padding: 30px;
    padding-top: 80px;
    padding-bottom: 70px;
    text-align: center;
    background: var(--VeryLightGray);
    /* background: hsl(0, 0%, 98%); */
}

.latest>div:first-child {
    font-size: 34px;
    color: var(--DarkBlue);
    /* color: hsl(233, 26%, 24%); */
    margin-bottom: 20px;
}

.articles {
    display: grid;
    gap: 30px;
    padding-bottom: 30px;
}

.article {
    text-align: left;
    padding: 30px;
}

.articles img {
    width: 100%;
    border-radius: 5px;
    height: 190px;
}

.article>div:first-child {
    font-size: 10px;
    color: var(--GrayishBlue);
    /* color: hsl(233, 8%, 62%); */
    margin-bottom: 10px;
}

.article>div:nth-child(2) {
    margin-bottom: 10px;
    color: var(--DarkBlue);
    /* color: hsl(233, 26%, 24%); */
}

.article>div:nth-child(3) {
    margin-bottom: 0px;
    color: var(--GrayishBlue);
    /* color: hsl(233, 8%, 62%); */
    font-size: 13px;
}

.card {
    background: white;
}

footer {
    padding: 30px;
    background-color: var(--DarkBlue);
    /* background-color: hsl(233, 26%, 24%); */
    display: grid;
    gap: 20px;
    text-align: center;
    color: white;
}

.logo {
    display: grid;
    grid-gap: 15px;
}

footer>div:nth-child(2)>div {
    font-weight: 400;
    margin-top: 15px;
    font-size: 15px;
}

footer>div:nth-child(3)>div {
    font-weight: 400;
    margin-bottom: 15px;
    font-size: 15px;
}

footer>div:last-child>div {
    margin-top: 1.5em;
    font-size: 13px;
    color: var(--GrayishBlue);
    /* color: hsl(233, 8%, 62%); */
}

.social {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 15px;
    justify-content: center;
    text-size-adjust: 23;
}